{% load static %}
        <!-- Footer Start -->
        <footer id="rs-footer" class="rs-footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="index.html"><img src="{% static 'home/assets/images/logo-dark.png'%}" alt=""></a>
                            </div>
                              <div class="textwidget pb-30"><p>We love the challenge to deliver the best possible solution using the latest and future technologies. We understand that we are your extended TEAM.</p>
                              </div>
                              <ul class="footer-social md-mb-30">  
                                  <li> 
                                      <a href="#"><span><i class="fa fa-facebook"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="# "><span><i class="fa fa-twitter"></i></span></a> 
                                  </li>

                                  <li> 
                                      <a href="# "><span><i class="fa fa-pinterest-p"></i></span></a> 
                                  </li>
                                  <li> 
                                      <a href="# "><span><i class="fa fa-instagram"></i></span></a> 
                                  </li>
                                                                           
                              </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                            <h3 class="widget-title">IT Services</h3>
                            <ul class="site-map">
                                <li><a>Mobile App Development</a></li>
                                <li><a>Web Development</a></li>
                                <li><a>SEO</a></li>
                                <li><a>Cloud and DevOps</a></li>
                                <li><a>Digital Marketing</a></li>
                                <li><a>Database Administrator</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 md-mb-30">
                            <h3 class="widget-title">Contact Info</h3>
                            <ul class="address-widget">
                                <li>
                                    <i class="flaticon-location"></i>
                                    <div class="desc"> 30 N Gould St, Sheridan, USA</div>
                                </li>
                                {% comment %} <li>
                                    <i class="flaticon-call"></i>
                                    <div class="desc">
                                       <a href="tel:(+880)155-69569">(+880)155-69569</a>
                                    </div>
                                </li> {% endcomment %}
                                <li>
                                    <i class="flaticon-email"></i>
                                    <div class="desc">
                                        <a href="mailto:support@tejars.com">support@rstheme.com</a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <h3 class="widget-title">Newsletter</h3>
                            <p class="widget-desc">We denounce with righteous and in and dislike men who are so beguiled and demo realized.</p>
                            {% comment %} <p>
                                <input type="email" name="EMAIL" placeholder="Your email address" required="">
                                <em class="paper-plane"><input type="submit" value="Sign up"></em>
                                <i class="flaticon-send"></i>
                            </p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">                    
                    <div class="row y-middle">
                        {% comment %} <div class="col-lg-6 text-right md-mb-10 order-last">
                            <ul class="copy-right-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                            </ul>
                        </div> {% endcomment %}
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>&copy; 2021 All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->

        <!-- start scrollUp  -->
        <div id="scrollUp" class="orange-color">
            <i class="fa fa-angle-up"></i>
        </div>
        <!-- End scrollUp  -->

        <!-- Search Modal Start -->
        <div class="modal fade search-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
            <button type="button" class="close" data-bs-dismiss="modal">
                <span class="flaticon-cross"></span>
            </button>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="search-block clearfix">
                        <form>
                            <div class="form-group">
                                <input class="form-control" placeholder="Search Here..." type="text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Modal End -->

         <!-- modernizr js -->
        <script src="{% static 'home/assets/js/modernizr-2.8.3.min.js'%}"></script>
        <!-- jquery latest version -->
        <script src="{% static 'home/assets/js/jquery.min.js'%}"></script>
        <!-- Bootstrap v4.4.1 js -->
        <script src="{% static 'home/assets/js/bootstrap.min.js'%}"></script>
        <!-- Menu js -->
        <script src="{% static 'home/assets/js/rsmenu-main.js'%}"></script> 
        <!-- op nav js -->
        <script src="{% static 'home/assets/js/jquery.nav.js'%}"></script>
        <!-- owl.carousel js -->
        <script src="{% static 'home/assets/js/owl.carousel.min.js'%}"></script>
        <!-- wow js -->
        <script src="{% static 'home/assets/js/wow.min.js'%}"></script>
        <!-- Skill bar js -->
        <script src="{% static 'home/assets/js/skill.bars.jquery.js'%}"></script>
        <script src="{% static 'home/assets/js/jquery.counterup.min.js'%}"></script> 
         <!-- counter top js -->
        <script src="{% static 'home/assets/js/waypoints.min.js'%}"></script>
        <!-- swiper js -->
        <script src="{% static 'home/assets/js/swiper.min.js'%}"></script>   
        <!-- particles js -->
        <script src="{% static 'home/assets/js/particles.min.js'%}"></script>  
        <!-- magnific popup js -->
        <script src="{% static 'home/assets/js/jquery.magnific-popup.min.js'%}"></script>      
        <!-- plugins js -->
        <script src="{% static 'home/assets/js/plugins.js'%}"></script>
        <!-- pointer js -->
        <script src="{% static 'home/assets/js/pointer.js'%}"></script>
        <!-- contact form js -->
        <script src="{% static 'home/assets/js/contact.form.js'%}"></script>
        <!-- main js -->
        <script src="{% static 'home/assets/js/main.js'%}"></script>
    </body>
</html>